p {
  text-align: justify;
  line-height: 1;
  text-indent: 20px;
  font-family: Garamond, serif;
}

h1 {
  font-size: 1.3em;
  font-family: Garamond, serif;
  text-align: justify;
  margin: max-width 15%;
}
body {
  background-color: lightblue;
}
